body { font-family: 'Eczar', serif; 

    /* stop double-clicking from selecting text on buttons etc */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
button { 
	font-family: 'Eczar', serif;
	font-size: 12px;
	width: 108px;
	margin: 2px;

}

#backdrop {
    background-color:black;
    background-image: url(../img/gui_background.png);
    background-repeat: no-repeat;
    background-position:calc(50% - 10px) 10px;
}

canvas:focus, canvas:focus{
    outline: none;
}

.btn-icon { margin:0; padding:0; border:0; outline:0; height:16px; margin-right:8px; vertical-align:middle; }

.flex-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.flex-menu {
	display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.flex-row { flex-direction: row; }

.flex-col { flex-direction: column; }

.bg-black {
	/* replaced by background bg image */
    /* background-color: black; */
}

.bg-yellow {
	/* replaced by background bg image */
	/* background-color: #F3E5AB; */
}

.pad-sm {
	padding: 4px;
}

.pad-med {
	padding: 30px;
}

.no-bullets {
	list-style: none;
}

.margin-sm {
	margin: 20px;
}

.no-margin {
	margin: 0;
}

.c-red {
	color: rgb(243, 147, 147);
    text-shadow:2px 2px black;
    text-align:center;
}

.c-yellow {
	color: yellow;
    text-shadow:2px 2px black;
    text-align:center;
}

.c-green {
	color: lightgreen;
    text-shadow:2px 2px black;
    text-align:center;
}

.-b {
	font-weight: bold;
}

/*.action-button { 
	font-family: 'Eczar', serif;
	width: 90px;
	margin: 2px;

}*/

.inv-btn { 
	font-family: 'Eczar', serif;
	width: 60px;
	margin: 0px;

}

.btn-thick {
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

button:hover {
	background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

button:active {
	background-color: darkgoldenrod;
    border-color: darkgoldenrod;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.message-box {
	width: 700px;
	height: 130px;
	font-size: 20px;
	font-family: 'Eczar', serif;
}

/* Button tweaks to look more old-school. Feel Free to remove if they don't fit the desired game feel */

button {
    width:108px;
    margin:0px 0px 6px 0px;
	border-radius: 0;
	border-width: 5px;
	border-top-color: #cacaca;
	border-left-color: #cacaca;
	border-bottom-color: black;
	border-right-color: black;
	border-style: outset;
}

#credits {
    display:block;
    width:238px;
    text-align: center;
}

#actionmenu {
    display:none; /* starts hidden until first click */
}

#player-inventory {
    display:none; /* starts hidden until first click */
}

#menu-holder {
    width:246px; /* force button bar to be same width with or without inventory */
}

#hint {
    position:relative;
    display:block;
    top:-100px; left:220px;
    color:silver;
    background:rgba(255,255,255,0.25);
    width:24px; height:24px; overflow:hidden;
    text-align:center;
    border-radius:16px;
}

#hint:hover {
    color:yellow;
    background:rgba(0,255,0,0.25);
}

#credits li {
    font-size: 12px;
    line-height: 1.0;
    margin-bottom: 13px;
    text-align: left;
}